.form__button {
    font-size: 1.125em;
    border-radius: 2em;
    padding: 1.1em;
    margin-bottom: .8em;
    border: none;
    background-color: var(--color-event);
    color: var(--color-white);
    box-shadow: 0 .3em .8em rgba(14, 26, 57, .2);
}
