.articles__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding-top: 4em;
    padding-bottom: 4em;
}

@media screen and (max-width: 700px) {
    .articles__content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    .articles__content {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
    .articles__content {
        padding-top: calc((100vw - 48em)/(62.5 - 48) * (4 - 2) + 2em);
        padding-bottom: calc((100vw - 48em)/(62.5 - 48) * (4 - 2) + 2em);
    }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .articles__content {
        padding-top: calc((100vw - 20em)/(48 - 20) * (2 - 1.5) + 1.5em);
        padding-bottom: calc((100vw - 20em)/(48 - 20) * (2 - 1.5) + 1.5em);
    }
}

@media screen and (max-width: 320px) {
    .articles__content {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
}
