@import url(../vendors/fonts/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/link/link.css);
@import url(../blocks/header/header.css);
@import url(../blocks/burger/burger.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/search/search.css);
@import url(../blocks/title/title.css);
@import url(../blocks/description/description.css);
@import url(../blocks/input/input.css);
@import url(../blocks/button/button.css);
@import url(../blocks/articles/articles.css);
@import url(../blocks/post/post.css);
@import url(../blocks/tooltip/tooltip.css);
@import url(../blocks/about/about.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/preloader/preloader.css);
@import url(../blocks/not-found/not-found.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/overlay/overlay.css);

.index {
    /* Header */
    /* Цвет рамки */
    --header-border-color: 255, 255, 255, .2;
    /* Размер рамки */
    --header-border: .06em;
    /* Цвет фона */
    --header-bg: 196, 196, 196, .01;
    /* Цвет ссылок */
    --header-link-color: var(--color-white);
    --header-link-color-hover: var(--color-main);

    /* Search */
    /* Отступ контейнера */
    --search-wrapper-geometry: 5em;
    /* Цвет шрифта */
    --search-text-color: var(--color-white);
    /* Размер заголовка */
    --search-title-size: 3.75;
    --search-title-msize: 2.25;
    /* Максимальная ширина контейнера */
    --search-container-maxsize: 608px;

    /* Articles */
    /* Отступ контейнера */
    --articles-wrapper-geometry: 5em;

    /* PopUp */
    /* Отступ контейнера */

}
