@import url(./__img/not-found__img.css);
@import url(./__title/not-found__title.css);
@import url(./__description/not-found__description.css);

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}
