@import url(./_hidden/popup_hidden.css);
@import url(./_active/popup_active.css);
@import url(./__wrapper/popup__wrapper.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__text/popup__text.css);
@import url(./__link/popup__link.css);

.popup {
    padding: 5em 0;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
